[submodule "toast-frontend"]
	path = toast-frontend
	url = http://git-proxy:9418/c000e7b320f8dba53b0566289d4a4fdc/abel-tefera/toast-frontend.git
[submodule "toast-backend"]
	path = toast-backend
	url = http://git-proxy:9418/c000e7b320f8dba53b0566289d4a4fdc/abel-tefera/toast-backend.git
[submodule "toast-database"]
	path = toast-database
	url = http://git-proxy:9418/c000e7b320f8dba53b0566289d4a4fdc/abel-tefera/toast-database.git
